 <script type="text/ng-template" id="suggestionFeedbackDialog.html" />  
 	<div class="dialog">
		 <div class="modal-header">  
			 <a class="close" data-dismiss="modal" ng-click="cancel()" style="margin-top:10px">×</a>
			<span class="brand_name" style="margin-top: 0px;color:white"><img src="asset/images/title/popup_icon_biaoti.png" alt="">已处理建议</span>
		</div>  
		<div class="modal-body" style="padding:0px;background-color:#EFF4FA;color:#91a69e;">  
			<form class="form-horizontal" role="form">
				 <div style="text-align:center;height:40px;line-height:40px;font-size:14px;font-weight:bold">归档信息</div>
				<div class="form-group">
					<label for="requestor" class="col-sm-2 control-label">归档大类：</label>
					<div class="col-sm-3" style="padding-top:7px">
						{{query.entity.parentCategoryName}}
					</div>
					<label for="questionDate" class="col-sm-2 control-label">归档子分类：</label>
					<div class="col-sm-3" style="padding-top:7px">
						{{query.entity.categoryName}}
					</div>
				</div>
				<hr style="border:0;background-color:#e5e5e5;height:1px;">
			</form>
			<form class="form-horizontal" role="form" >
				<div style="text-align:center;height:40px;line-height:40px;font-size:14px;font-weight:bold">建议信息</div>
				<div class="form-group">
					<label for="type" class="col-sm-1 control-label" style="padding-right:0px">发起方：</label>
					<div class="col-sm-3" style="padding-top:7px">
						{{query.entity.provider}}
					</div>
					<label for="subType" class="col-sm-2 control-label">提问时间：</label>
					<div class="col-sm-3" style="padding-top:7px">
						{{query.entity.date}}
					</div>
				</div>
				<div class="form-group">
					<label for="feedbackDate" class="col-sm-1 control-label">内容：</label>
					<div class="col-sm-9" style="padding-top:7px">
						{{query.entity.content}}
					</div>
				</div>
				<div class="form-group">
					<label for="feedbackDate" class="col-sm-1 control-label"></label>
					<div class="col-sm-9" style="padding-top:7px">
						<span ng-repeat="img in query.entity.attachments.list">
							<img src="{{query.entity.attachments.basePath+img.thumb}}" alt="">
						</span>
					</div>
				</div>
				<hr style="border:0;background-color:#e5e5e5;height:1px;">
			</form>
			
		</div>  
		
	</div>
	
</script>  